<configuration> <!-- debug="true" -->
	<!--
    <property name="USER_HOME" value="${HOME}" />
	-->

    <appender name="LOG_CMD_FILE" class="ch.qos.logback.core.FileAppender">
        <file>build/test-case/logs/activity-tracker-and-notebook.log</file>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss} %logger{36} [ %msg ]%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="activity-command" level="INFO">
        <appender-ref ref="LOG_CMD_FILE" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>